@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blanc-brown: #3F3127;
  --blanc-beige: #CBBFB1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blanc-brown: var(--blanc-brown);
  --color-blanc-beige: var(--blanc-beige);
  --font-sans: var(--font-manrope);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
}